# Java class files
*.class

# Local configuration file (sdk path, etc)
local.properties

#IntelliJ IDEA
.idea
*.iml

#Gradle
.gradle
build

signing.properties

.externalNativeBuild/
/android-gif-drawable/src/main/gen
/android-gif-drawable/src/main/bin
